<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4" IgnorableNamespaces="uap mp uap4">
  <Identity Name="20823ANKO.OpenVehicleMonitoringSystem" Publisher="CN=C420F109-A0DF-41CA-B776-F053BCF7A73C" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="2762397f-04a8-40b5-b947-cae7037bebe6" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Open Vehicle Monitoring System</DisplayName>
    <PublisherDisplayName>Anko Hanse</PublisherDisplayName>
    <Logo>Assets\Logo\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Open_Vehicle_App.App">
      <uap:VisualElements DisplayName="Open Vehicle Monitoring System" Square150x150Logo="Assets\Logo\Square150x150Logo.png" Square44x44Logo="Assets\Logo\Square44x44Logo.png" Description="Open Vehicle Monitoring System application" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Logo\Wide310x150Logo.png" ShortName="OVMS" Square310x310Logo="Assets\Logo\LargeTile.png" Square71x71Logo="Assets\Logo\SmallTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\Logo\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>