<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ovmsServer" value="tmc.openvehicles.com" />
    <add key="ovmsPort" value="6867" />
    <add key="selVehicleId" value="DEMO" />
    <add key="selVehicleLabel" value="Demo Vehicle" />
    <add key="selServerPwd" value="DEMO" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
